/* Typograpgy Styles */
h1,
h2,
h3 {
	font-family: 'Maven Pro', sans-serif;
}

img {
	width: 100%;
}

.landing {
	position: relative;
	background: url('./img/desert.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	margin-top: 0px;
	margin-bottom: -50px;
}

/*
.landing-inner {
	padding-top: 80px;
}
*/

/* Background Gradient */
/* Gradient provided by @_ighosh at uiGradients.com */
/* fallback for old browsers */
/* Chrome 10-25, Safari 5.1-6 */
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
.navbar,
.landing-callout {
	background: #bec4d1;
	background: -webkit-linear-gradient(to top, #243b55, #141e30);
	background: linear-gradient(to top, #243b55, #141e30);
}

/* Landing Page Styles */
.landing-callout {
	color: white;
	margin-left: -150px;
	margin-right: -150px;
	padding-bottom: 100px;
}

/*
.dark-overlay {
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
*/

.card-form {
	opacity: 0.9;
}

.latest-dev_profiles-img {
	width: 40px;
	height: 40px;
}

.latest-org_profiles-img {
	width: 40px;
	height: 40px;
}

.form-control::placeholder {
	color: rgb(170, 127, 175) !important;
}

/*
.form-control::placeholder {
	color: #bbb !important;
}
*/
