img {
	width: 100%;
}

.landing {
	position: relative;
	background: url('./img/desert.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	margin-top: -24px;
	margin-bottom: -50px;
}

.landing-inner {
	padding-top: 80px;
}

.link-style1 {
	margin-top: 50px;
	padding-top: 80px;
	background-color: blue;
}

.link-style2 {
	margin-top: 50px;
	padding-top: 80px;
	background-color: green;
}

.dark-overlay {
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.card-form {
	opacity: 0.9;
}

.latest-dev_profiles-img {
	width: 40px;
	height: 40px;
}

.latest-org_profiles-img {
	width: 40px;
	height: 40px;
}

.latest-org_profiles-img {
	width: 40px;
	height: 40px;
}

.form-control::placeholder {
	color: #bbb !important;
}
